*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.common-headers{
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    text-align: center;
    margin-bottom: 16px;
}
button:hover {
    cursor: pointer;
    box-shadow: 0 0 10px #469165;
}
button:active {
    cursor: pointer;
    box-shadow: 0 0 5px #469165;
}


#navigation-bar {
    max-height: 92px;
    padding: 16px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navigation-bar .nav-logo {
    max-width: 139px;
    max-height: 60px;
}
#navigation-bar .navigation-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 32px;
}
#navigation-bar a {
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    font-weight: 500;
}
#navigation-bar a:hover {
    background-color: #469165;
    border-radius: 50px;
    color: #FFFFFF;
    box-shadow: 0 0 10px #469165;
}
.btn-early-access {
    background-color: #469165;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    width: 164px;
    height: 44px;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;

}
.early-access-open {
    display: flex;
    align-items: center;
    gap: 8px;
    border: none;
    width: 229px;
    height: 35px;
    font-size: 14px;
    font-weight: 500;
    color: #16a34a;
    border-radius: 1000px;
    background-color: #FFFFFF;
    padding: 8px 12px;
    justify-content: center;
}
#banner {
    padding: 10px;
    width: 100%;
    min-height: 674px;
    background-image: url("../assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#banner-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    width: 85%;
    max-width: 1360px;
}
#banner-content .banner-header-text{
    text-align: center;
}
#banner-content .banner-header-text h1{
    font-size: 72px;
    font-weight: 700;
}
#banner-content p {
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}
.header-buttons-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    margin-top: 16px;
}
.header-buttons-container button {
    width: 251px;
    height: 52px;
    background-color: #469165;
    padding: 12px 16px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    
}
#notes-section {
    display: flex;
    flex-direction: column;
    padding: 50px 120px 10px;
    align-items: center;
    background-color: #fbfbfb;
}
.notes-header-texts p {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    text-align: center;
    margin-bottom: 44px;
}
.cards-container {
    width: 85%;
    max-width: 1360px;
    max-height: 300px;
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
}
.cards {
    height: 300px;
    width: 322px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 8px 0 #00000027;
    text-align: center;
    border-radius: 8px;
}
.cards img{
    background-color: #F95555;
    border-radius: 50%;
    padding: 14px;
}
.cards h2 {
    font-size: 24px;
    font-weight: 600; 
}
.cards p {
    font-size: 16px;
    color: #627382;
    line-height: 20px;
}
#second-brain-section {
    display: flex;
    justify-content: center;
    padding: 120px 120px 7px;
}
.second-brain-container {
    border-radius: 15px;
    background-color: #48b67625;
    width: 85%;
    max-width: 1360px;
    display : flex;
    gap: 60px;
    justify-content:start;
    align-items: center;
}
.solution-contents {
    overflow: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.solution-contents h4 {
    font-size: 16px;
    font-weight: 500;
    color: #30B868;
    margin-bottom: 16px;
}
.solution-contents p {
    font-size: 16px;
    color: #627382;
}
.checklist {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 16px;
}
.check-items {
    display: flex;
    gap: 6px;
}
.check-items p {
    font-size: 16px;
    font-weight: 500;
    color: #001931;
}
.check-items img{
    width: 20px;
    height: 20px;
}
#early-access-section {
    display: flex;
    justify-content: center;
    padding: 120px 120px 120px;
}
.early-access-container {
    padding: 80px 40px;
    border-radius: 12px;
    background-color: #F7F6F2;
    width: 85%;
    max-width: 1360px;
    height: 384px;
    display : flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.early-access-headers {
    text-align: center;
}
.early-access-headers h1 {
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 16px;
}
.early-access-container p {
    font-size: 16px;
    color: #627382;
    line-height: 24px;
}
#footer-section {
    padding: 120px 120px 30px;
    background-color: #001931;
}
.socials-container {
    display: flex;
    justify-content: space-between;
}
.social-links {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.icons {
    display: flex;
    gap: 16px;
}
.social-links h4{
    font-size: 20px;
    font-weight: 500;
    color: #FFFFFF;
}
#footer-section hr {
    border: none;  
    height: 1px;   
    background-color: #22384d;
    margin-top: 80px;
}
.footer-copyright {
    margin-top: 30px;
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
}