*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}


#navigation-bar {
    max-height: 92px;
    border: 1px solid black;
    padding: 16px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navigation-bar .nav-logo {
    max-width: 139px;
    max-height: 60px;
}
#navigation-bar .navigation-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 32px;
}
#navigation-bar a {
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    font-weight: 500;
}
.btn-early-access {
    background-color: #30B868;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    width: 164px;
    height: 44px;
    padding: 12px 16px;

}

